@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.slider-nav-btn {
		@apply absolute top-1/2 -translate-y-1/2 z-10 p-2 sm:p-3 
			bg-white/80 hover:bg-white rounded-full shadow-md transition-all;
	}

	.slider-nav-btn-left {
		@apply -left-4 sm:-left-8 md:-left-12;
	}

	.slider-nav-btn-right {
		@apply -right-4 sm:-right-8 md:-right-12;
	}
}
